.myFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #39393A;
    height: 3rem;
    width: 100%;
}

.footerText {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 1.5rem;
    color: white;
}